.hidden {
    display: none;
}

/* FORMS */
div.form h2 {
    padding-left: 1em;
}

table.form .error {
    color: #FF3333;
}

table.form .error_revert {
    padding: 0.3em;
    background: #e22;
    color: #fff;
    margin-bottom: 0.6em;
}

div.form .doc {
    background-color: #D3D3D3;
    /* background-color: lightgray; didn't work with some IE's */
    font-size: small;
    margin: 1em 1em 1em 1em;
    padding: 0.6em 0.6em 0.6em 0.6em;
}

table.form .form_doc {
    background-color: #D3D3D3;
    /* background-color: lightgray; didn't work with some IE's */
    font-size: small;
    margin: 1em 1em 1em 1em;
    padding: 0.6em 0.6em 0.6em 0.6em;
}
table.form {
    width: 100%;
}
table.form, table.form tr, table.form td {
    margin: 0; padding: 0;
}
table.form td {
    vertical-align: top;
}
div.form {
    margin: 1em 0 0 0; padding: 0;
}
fieldset {
    padding: 1em 0em 1em 0em; margin: 0em 1em 1em 1em;
}
legend {
    color: black; /* needed for IE - didn't feel the need to check why yet */
    font-weight: bold;
}
form.single_button {
    display: inline;
    margin: 0;
    padding: 0;
}

.field_comment { margin: 1em 0 0 2em; padding: 0; font-size: 80%; color: #666666; }


.form_error { padding: 0.2em 1em 0.2em 1em; margin: 0 1em 1.7em 1em; font-size: small; background-color: #FF0000; color: white; }
.field_error { padding: 0.2em 1em 0.2em 1em; margin: 0.7em 1em 0em 1em; font-size: small; background-color: #FF0000; color: white; }

.form_notice { padding: 0.2em 1em 0.2em 1em; margin: 0 1em 1.7em 1em; font-size: small; background-color: yellow; color: black; }

.form_confirmation { padding: 0.2em 1em 0.2em 1em; margin: 0 1em 1.7em 1em; font-size: small; background-color: #00FF00; color: black; }

.field_error_message { padding: 0; margin: 0; }

.field_part { margin: 0; padding: 0.5em 0em 0.5em 0em; }
.field_info { margin: 0; padding: 0 0.5em 0 0.5em; text-align: right; }
.field_info_per_field_action { margin: 0; padding: 0 0.5em 0 0.5em; }


.field_input { margin: 0; padding: 0 0.5em 0 0.2em; }
.field_input input, .field_input checkbox, .field_input textarea { margin: 0; padding: 0; }
.field_input_per_field_action { margin: 0em 0em 0em 1em; padding: 0; }

.field_help { margin: 0; padding: 0 0.5em 0 0.5em; font-size: small; }
.field_required_ok { margin: 0; padding: 0.2em 0 0 1em; font-weight: bold; }
.field_required_err { margin: 0; padding: 0.2em 0 0 1em; font-weight: bold; color: red; }
.field_radio_button { margin: 0; padding: 0; }
.field_radio_label { margin: 0; padding: 0; font-size: small; }

.field_action_class { width: 6.5em; }

.form_required_notice { margin: 0.5em 0 0.2em 0; font-size: small; }
.form_datetime_label { margin-left: 2em; }
.form_date_label, .form_time_label { text-align: left; margin: 0; padding: 0; font-size: x-small; }
.form_date_input, .form_time_input { text-align: left; margin: 0 0.25em 0.25em 0.25em; padding: 0; }
td .form_date_input, td .form_time_input { border: 0; margin: 0; }
.form_reset { display: inline; margin: 0.5em 0.92em 0.5em 0.5em; padding: 0; }
.form_edit {display: inline; margin: 0.5em 0.92em 0.5em 0.5em; padding: 0; }
.form_delete { display: inline; margin: 0.5em 0.92em 0.5em 0.5em; padding: 0; }
div.form_save { display: inline; margin: 0.5em 1.35em 0.5em 0em; padding: 0; }
table td.form_save { text-align: right; padding-top: 0.4em; }

input[type="submit"], input[type="reset"] {
    min-width: 5em;
}

#update_now {
  margin: 0;
  padding: 2em;
}

#helpbox_message {
  overflow: auto;
  /* height: 100px; */
  margin: 0px;
  padding: 3px;
}

#helpbox_close {
  margin: 0px;
  padding: 8px 3px 3px 3px;
  text-align: right;
  font-size: small;
}

#helpbox {
  /* display: none; */   /* made visible in javascript after dynamic positioning - does not work???*/
  visibility: hidden; /* couldn't unhide it with display:none - should read more about it */
  position: absolute;
  width: 400px;
  margin: 0px;
  padding: 3px;
  background-color: #EEEEEE;
  overflow: hidden;
  border: 3px solid black;
}


