#kwstable th.kwstableth { text-align: right; } 
#kwstable td.kwstableid { padding-left: 2px; text-align: right; } 
#kwstable td.kwstablename { padding-left: 6px; text-align: left; } 
#kwstable td.kwstablestats { padding-left: 10px; text-align: right; } 

#selectkwsdiv { padding: 5px 0 0 15px; }

#actiondiv { padding: 15px 0 0 15px; }
#actiondiv * { display: inline; }
#actiondiv input { margin-left: 10px; }

#browsetable { width:  100%; padding: 5px 5px 5px 5px; margin-top: 25px; margin-left: 5px; background-color: #DDDDDD; }
#browsetable * { display: inline; min-width: inherit; }
#browseshow { padding: 5px; }
#browsetextperpage { text-align: right; }
#browsetextkws { font-size: 1.1em; }
#browsetextstart { padding-left: 15px; }
#browsenext { padding: 5px; margin-left: 15px; }
#browselast { padding: 5px; margin-left: 5px; }

