Date: %MailDate%
Message-ID: %MailMessageID%
From: %MailFrom%
To: %MailTo%
MIME-Version: 1.0
Subject: Join Teambox "%TeamboxName%".
Content-Type: multipart/alternative;
	boundary="%Boundary%"

This is a multi-part message in MIME format.
--%Boundary%
Content-Type: text/plain; charset="ISO-8859-1"
Content-Transfer-Encoding: 8bit

%SenderEmailText% has invited you to the Teambox "%TeamboxName%".

Click on the link to access the Teambox:
%TeamboxURL%

--%Boundary%
Content-Type: text/html; charset="ISO-8859-1"
Content-Transfer-Encoding: 8bit

<html>
<body>
<p>%SenderName% has invited you to the Teambox "%TeamboxName%"</p>
<p>Click on the link to access the Teambox:<br />
<a href="%TeamboxURL%">%TeamboxURL%</a></p>
%UserMsg%
</body>
</html>

--%Boundary%--

